h1,
h2,
h3,
p,
a,
span,
br,
ul,
li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: var(--white-color);
}

a {
  color: inherit;
}

body {
  font-family: Ubuntu;
  background-color: var(--black-color);
  overflow-x: hidden;
}

.main-container {
  position: relative;
  width: calc(100% - 20px);
  max-width: 3500px;
  margin: 0 auto;
}

.dark-section {
  background-color: var(--black-color);
}

.btn {
  position: relative;
  color: var(--black-color);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white-color);
  border-radius: var(--ui-3);
  border: none;
  outline: none;
  cursor: pointer;
  isolation: isolate;
  clip-path: inset(0 round var(--ui-3));
  transform: translateZ(0);
  box-shadow: inset 0 0 0 1px var(--dark-gray);
  transition: var(--transition-main);
  padding: var(--ui-3) var(--ui-5);

  span {
    position: relative;
    z-index: 3;
  }

  &::before {
    content: "";
    position: absolute;
    width: 15px;
    aspect-ratio: 1;
    top: 100%;
    left: 50%;
    background-color: var(--dark-gray);
    border-radius: 50%;
    translate: -50% 0;
    scale: 0;
    transform-origin: bottom;
    transition: var(--transition-main);
    z-index: 2;
  }

  &:hover {
    color: var(--white-color);

    &::before {
      width: 100%;
      scale: 1.5;
      top: 0;
    }
  }
}

.btnBack {
  position: relative;
  color: var(--white-color);
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: var(--transition-main);
  -webkit-transition: var(--transition-main);
  -moz-transition: var(--transition-main);
  -ms-transition: var(--transition-main);
  -o-transition: var(--transition-main);
  opacity: 0;

  &:hover {
    opacity: 0.6 !important;
  }
}

.empty {
  height: 250vh;
  border-radius: calc(var(--ui-5) * 3);
  -webkit-border-radius: calc(var(--ui-5) * 3);
  -moz-border-radius: calc(var(--ui-5) * 3);
  -ms-border-radius: calc(var(--ui-5) * 3);
  -o-border-radius: calc(var(--ui-5) * 3);
  margin-bottom: calc(var(--ui-5) * 10);
}

[text-split] {
  opacity: 0;
}

.word {
  overflow: hidden;
  padding-bottom: 0.1em;
  margin-bottom: -0.1em;
  transform-origin: bottom;
}

/* ======================= HEADER ======================= */
header {
  position: fixed;
  width: 100%;
  top: 0;
  overflow: hidden;
  z-index: 2;
  opacity: 1;
  padding: var(--ui-2) 0 var(--ui-5);


  .header__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background: rgba(var(--black-color_rgb), 0.3);
    backdrop-filter: blur(10px);
    border-radius: var(--ui-5);
    -webkit-border-radius: var(--ui-5);
    -moz-border-radius: var(--ui-5);
    -ms-border-radius: var(--ui-5);
    -o-border-radius: var(--ui-5);
    transition: 0.2s ease-in-out;
    padding: var(--ui-4) var(--ui-5);
  }
}

/* ======================= HEADER ======================= */




/* ======================= Main Screen ======================= */

.main-screen {
  position: relative;
  height: 100svh;
  color: var(--white-color);
  background-color: var(--black-color);
  overflow: hidden;
  padding-bottom: calc(var(--ui-5) * 5);
  margin-bottom: 120px;
  box-sizing: border-box;

  .main-screen__bg {
    position: absolute;
    width: 100%;
    transform: translateY(100svh) scale(2);
    bottom: -40svh;
    left: 0;
    -webkit-transform: translateY(100svh) scale(2);
    -moz-transform: translateY(100svh) scale(2);
    -ms-transform: translateY(100svh) scale(2);
    -o-transform: translateY(100svh) scale(2);

    video {
      width: 100%;
      height: 100%;
    }
  }

  .main-screen__inner {
    padding-top: calc(var(--ui-5) * 10);

    .main-screen__text {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--ui-6);
      align-content: center;
      text-align: center;
      z-index: 2;

      h1 {
        font-size: calc(3rem + 2px);
        text-transform: uppercase;
        word-break: break-word;

        span {
          padding: 0;
        }
      }

      p {
        font-size: calc(var(--ui-5));
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }
    }

    .background-images {

      .macbook {
        position: absolute;
        width: 25%;
        top: 85%;
        left: 10%;
        z-index: 1;
      }

      .iphone {
        position: absolute;
        width: 10%;
        top: 100%;
        right: 20%;
      }

      img {
        width: 100%;
      }
    }
  }
}

/* ======================= Main Screen ======================= */






/* ======================= Completed Works ======================= */
.completed-works {
  position: relative;
  height: max-content;
  background-color: var(--black-color);
  border-radius: calc(var(--ui-5) * 2);
  -webkit-border-radius: calc(var(--ui-5) * 2);
  -moz-border-radius: calc(var(--ui-5) * 2);
  -ms-border-radius: calc(var(--ui-5) * 2);
  -o-border-radius: calc(var(--ui-5) * 2);
  padding: calc(var(--ui-6) * 7) 0;
  margin-bottom: -100svh;

  .completed-works__inner {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .grid-line {
      position: relative;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;

      @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }

      &:has(.completed-work:nth-child(2):last-child) {
        .completed-work {
          grid-column: span 2;
        }
      }

      &:has(.completed-work:nth-child(3):last-child) {
        .completed-work {
          grid-column: span 1;

          &.bigger {
            grid-column: span 2;
          }

          @media (max-width: 768px) {
            &:not(.bigger) {
              grid-column: span 1;
              grid-row: 1 / 2;
            }

            &.bigger {
              grid-row: 2 / 3;
            }
          }
        }
      }


      .completed-work {
        font-size: calc(var(--ui-5) * 1.5);
        font-weight: 500;
        color: var(--white-color);
        position: relative;
        min-height: 400px;
        max-height: clamp(500px, 50vw, 600px);
        background-color: var(--dark-gray);
        border-radius: var(--ui-5);
        -webkit-border-radius: var(--ui-5);
        -moz-border-radius: var(--ui-5);
        -ms-border-radius: var(--ui-5);
        -o-border-radius: var(--ui-5);
        overflow: hidden;
        cursor: pointer;
        transition: var(--transition-main__faster);
        -webkit-transition: var(--transition-main__faster);
        -moz-transition: var(--transition-main__faster);
        -ms-transition: var(--transition-main__faster);
        -o-transition: var(--transition-main__faster);

        &::before {
          content: "";
          position: absolute;
          inset: 0;
          width: 100%;
          border-radius: inherit;
          -webkit-border-radius: inherit;
          -moz-border-radius: inherit;
          -ms-border-radius: inherit;
          -o-border-radius: inherit;
          background-color: rgba(var(--black-color_rgb), 0.05)
        }

        &::after {
          content: "";
          position: absolute;
          inset: 0;
          width: 100%;
          border-radius: inherit;
          -webkit-border-radius: inherit;
          -moz-border-radius: inherit;
          -ms-border-radius: inherit;
          -o-border-radius: inherit;
          transition: inherit;
          z-index: 2;
          -webkit-transition: inherit;
          -moz-transition: inherit;
          -ms-transition: inherit;
          -o-transition: inherit;
        }

        &:hover {
          &::after {
            box-shadow: inset 0px 0px 0px 4px var(--white-color);
          }
        }

        &.bigger {
          grid-column: span 2;
        }

        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        & .text {
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          padding: var(--ui-1) var(--ui-4) var(--ui-3);

          & p {
            word-break: break-word;
          }
        }
      }
    }
  }
}

/* ======================= Completed Works ======================= */




/* ======================= News ======================= */

.news {
  padding: calc(var(--ui-6) * 6) 0;

  .news__inner {
    display: flex;
    flex-direction: column;
    gap: var(--ui-6);
  }

  .news-row {
    position: relative;
    max-height: 600px;

    .news-card {
      img {
        border-radius: var(--ui-5);
        -webkit-border-radius: var(--ui-5);
        -moz-border-radius: var(--ui-5);
        -ms-border-radius: var(--ui-5);
        -o-border-radius: var(--ui-5);
        opacity: 0.95;
      }

      span {
        color: var(--white-color);
        opacity: 0.6;
      }
    }
  }
}





/* ======================= Footer ======================= */

footer {
  color: var(--white-color);
  background-color: var(--dark-gray);
  border-top-right-radius: var(--ui-5);
  border-top-left-radius: var(--ui-5);
  padding: var(--ui-5) 0;

  .footer__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .footer__row {
      display: flex;
      flex-direction: column;
      gap: var(--ui-2);
    }
  }
}

/* ======================= Footer ======================= */



/* ======================= Work Page ======================= */
.work-page {
  .work-page__row {
    display: flex;
    flex-direction: column;
    gap: calc(var(--ui-6) * 5);
  }

  .work-page__content {
    h1 {
      font-size: calc(3rem + 2px);
      color: var(--white-color);
      text-align: center;
      word-break: break-word;
      margin-bottom: calc(var(--ui-6) * 2);
    }

    img {
      width: 100%;
      border-radius: var(--ui-5);
      -webkit-border-radius: var(--ui-5);
      -moz-border-radius: var(--ui-5);
      -ms-border-radius: var(--ui-5);
      -o-border-radius: var(--ui-5);
    }
  }
}

/* ======================= Work Page ======================= */