h1,
h2,
h3,
p,
a,
span,
br,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Ubuntu;
    background-color: var(--black-color);
}

.main-container {
    width: 98dvw;
    margin: 0 auto;
}

button.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--ui-3);
    -webkit-border-radius: var(--ui-3);
    -moz-border-radius: var(--ui-3);
    -ms-border-radius: var(--ui-3);
    -o-border-radius: var(--ui-3);
    cursor: pointer;
    border: none;
    outline: none;
    padding: var(--ui-1) var(--ui-5);

    &:hover {
        color: var(--white-color);
        background-color: var(--dark-gray);
    }
}


/* ======================= HEADER ======================= */
header {
    width: 100dvw;
    padding: var(--ui-5) 0;

    .header__inner {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

/* ======================= HEADER ======================= */



/* ======================= Main Screen ======================= */
.main-screen {
    color: white;

    .main-screen__inner {

        .main-screen__text {
            display: flex;
            flex-direction: column;
            gap: var(--ui-2);
            align-content: center;
            text-align: center;

            h1 {
                font-size: calc(3rem + 2px);
                word-break: break-word;
            }

            p {
                font-size: 20px;
            }
        }
    }
}