h1,
h2,
h3,
p,
a,
span,
br,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto;ё
    background-color: var(--black-color);
}

.main-container {
    width: 98dvw;
    margin: 0 auto;
}

button.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--ui-3);
    -webkit-border-radius: var(--ui-3);
    -moz-border-radius: var(--ui-3);
    -ms-border-radius: var(--ui-3);
    -o-border-radius: var(--ui-3);
    cursor: pointer;
    border: none;
    outline: none;
    padding: var(--ui-1) var(--ui-5);
}


/* ======================= HEADER ======================= */
header {
    width: 100dvw;
    padding: var(--ui-5) 0;

    .header__inner {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}