:root {
    --main-color: #0AC43E;
    --white-color: #F1F1F1;
    --black-color: #101010;
    --dark-gray: #1D1D1D;

    --sp-1: 4px;
    --sp-2: 8px;
    --sp-3: 12px;
    --sp-4: 16px;
    --sp-5: 18px;
}